body {
    display:flex;
    margin-top:300px;
    align-items: center;
    justify-content: center;
}
#calc {
    padding:0px;
    display:flex;
    height: 400px;
    width: 400px;
    align-items: center;
    justify-content: space-around;
    border: 2px solid blue;
    flex-direction: column;
    gap:2px;
    row-gap: 0px;
    
    
}

.what .displ{
    
    display:flex;
    justify-content: flex-end;
    background-color: grey;
    width: 400px;
    height: 65px;;
}
.topFunctionRow .AC{
    height: 20px;
    width:fit-content;
    
}